<div class="w-full p-6 bg-blue-50 min-h-screen">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-blue-100 mb-5 text-blue-600 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Albums" %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl text-blue-600">Albums</h1>
    <%= link_to "New Album", new_album_path, class: "rounded-lg py-3 px-6 bg-blue-600 text-white font-medium shadow-lg hover:bg-blue-700 transition duration-300" %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @albums.each do |album| %>
      <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 cursor-pointer border border-gray-200" onclick="window.location='<%= album_path(album) %>'">
        <h2 class="text-2xl font-semibold mb-2 text-gray-800"><%= album.title %></h2>
        <p class="text-gray-600 mb-1"><strong>Song(s):</strong> 
          <% album.songs.each do |song| %>
            <%= song.title %><% unless song == album.songs.last %>, <% end %>
          <% end %>
        </p>
        <p class="text-gray-600 mb-1"><strong>Release:</strong> <%= album.release %></p>
        <p class="text-gray-600"><strong>Credit:</strong> <%= album.credit %></p>
      </div>
    <% end %>
  </div>
</div>
