<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Albums" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Albums</h1>
    <%= link_to "New album", new_album_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  
  <table class="min-w-full bg-white">
  <thead>
    <tr>
      <th class="py-2 px-8 bg-gray-200 text-left">Title</th>
      <th class="py-2 px-8 bg-gray-200 text-left">About</th>
      <th class="py-3 px-8 bg-gray-200 text-left">Song</th>
      <th class="py-2 px-8 bg-gray-200 text-left">Release</th>
      <th class="py-2 px-8 bg-gray-200 text-left">Credit</th>
    </tr>
  </thead>

  <div id="albums" class="min-w-full">
    <% @albums.each do |album| %>
        <tr class="cursor-pointer hover:bg-gray-100" onclick="window.location='<%= album_path(album) %>'">
          <td class="border-t py-3 px-1"><%= album.title %></td>
          <td class="border-t py-3 px-1"><%= album.about %></td>
          <td class="border-t py-3 px-1"><% album.songs.each do |song| %>
      <%= song.title %>
    <% end %>
          <td class="border-t py-3 px-1"><%= album.release %></td>
          <td class="border-t py-3 px-1"><%= album.credit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
