<!DOCTYPE html>
<html>
  <head>
    <title>MagangSttApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #6495ED ">
      <%= render 'shared/nav' %>
      <div class="container mx-auto mt-20 px-5">
      <% if flash[:notice] %>
        <span class="block sm:inline"><%= flash[:notice] %></span>
      <% elsif flash[:alert] %>
        <span class="block sm:inline"><%= flash[:alert] %></span>
      <% end %>
    </div>
    <div class="mx-auto mt-20 px-4">
      <%= yield %>
      </main>
      </body>
    </body>
</html>
